# Ignore node modules and build artifacts
node_modules/
package-lock.json
package.json

# Ignore source markdown files
/publication/2025/pervasive/index.md
/publication/2025/salsa/index.md
/publication/2025/weft/index.md
/publication/2025/ligh-sensor/index.md
/project/

# Ignore source javascript files
build-content.js